<header class="header" id="header">
  <div class="header-mobile">
    <div class="container">
      <div class="header-mobile__inner">
        <a href="index.html" class="header__logo header__logo--mobile logo">
          <picture class="header__logo-picture logo__picture">
            <source srcset="assets/img/icons/logo.svg" type="image/svg" />
            <img src="assets/img/icons/logo.png" />
          </picture>
        </a>
        <button class="header__burger burger">
          <span class="header__burger-line"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="header__wrapper">
    <div class="container">
      <div class="header__inner">
        <a href="index.html" class="header__logo header__logo--desktop logo">
          <picture class="header__logo-picture logo__picture ">
            <source srcset="assets/img/icons/logo.svg" type="image/svg" />
            <img src="assets/img/icons/logo.png" />
          </picture>
        </a>
        <ul class="header__nav">
          <li class="header__nav-item">
            <a href="#" class="header__link">Бизнес</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__link">О нас</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__link">Цены</a>
          </li>
          <li class="header__nav-item">
            <button
              class="popup-btn header__btn header__link"
              data-path="popup__question"
            >
              Задать вопрос
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
